body{
    background-color: #e1f1a5;
    background-image: url("../images/orderback.jpg");
    background-size: 150% 150%;
    font-family: 'Roboto', sans-serif;
    color: darkred;
    
}

.pop-up, .name-container{
    font-family: 'Roboto', sans-serif;
    color: darkred;
    
}
.input-name{
  display: flex;
   margin-left: auto;
   font-family: 'Roboto', sans-serif;
  }
.input-surname{
  display: flex;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
  }
.input-date{
  display: flex;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
  }
.input-street{
  display: flex;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
  }
.input-house{
  display: flex;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
  }
.input-flat{
  display: flex;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
  }
  
  .order-content{
     
    width: 500px;
    height: 500px;
    background-color: wheat;
    border-radius: 5px;
    /*background-image:  url("../images/old-paper.jpg");*/
    font-family: 'Roboto', sans-serif;
  }

  h1{
    margin-left: 200px;
    color: darkred;
    font-family: 'Roboto', sans-serif;
    
}

main{
    display: flex;
    justify-content: center;
}


input{
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}


.pop-up{
    display: none;
    position: fixed;
    width: 450  ;
    height: 350px;
    background-color:rgba(245, 222, 179, 0.863);
    top:20%;
    left: 40%;
    align-content: center;
    text-align: center;

}

#address-summary{
  font-size: 22px;
}

#customer-summary{
  font-size: 22px;
}

#close-btn{
  top: 150px;
  left: 50%;
  background-color: darkred;
}

.name-container{
  display: inline-flex;
  align-items:center;
  padding:0;
}


.warn-pop{
visibility:hidden;
 background-color: white;
 color:darkred;
 padding: 2px;
 font-family: 'Roboto', sans-serif;
 font-size: 14px;
 border: 2px solid goldenrod;
 border-radius: 5px;
 height: fit-content;
 width: 140px;
}




/* CSS imported */

*{
  box-sizing: border-box;
}

.invalid {
  outline: none;
  border:  2px solid red;
}


.valid {
  outline: none;
  border: 2px solid black;
}


.warn-pop-date{
  /* position: absolute; */
  left: 14%;
  /* bottom: -10px; */
  top: 21px;
  /* display: none; */
 background-color: ghostwhite;
 color:red;
}

.input-div-cont{
  display: flex;
}


form{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}


.name-container{
  /* background-color: black; */
  display: inline-flex;
  align-items:baseline;
  /* padding:0; */
}

p{
  margin: 0  0 0 15px;
}

/*.special-border{
  border: solid 3px wheat;
  display: flex;
}*/

.submit-btn-container{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.submit-btn{
  cursor: not-allowed;
  background-color: white;
  font-size: 18px;
    width: 150px;
    padding: 10px;
    margin-bottom: 200px;
    /* cursor: not-allowed !important; */
}
.submit-btn:hover{
  background-color: darkred;
}


.submit-btn:disabled {
  cursor: not-allowed !important;
 
}

footer{
  background-color: darkred;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  opacity: 0.5;
  position: bottom;
  
}
.footer-info{

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 40px;
  font-size: 16px;
 
  /* border: 1px solid red; */
  margin: auto;
}

.author-info{
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}